:root {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;

    font-family: Helvetica, sans-serif;
}

label {
    font-size: 12px;
    font-weight: 800;
    text-align: left;
    display: block;
}

.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100vh;

    background-image: url("fatty-corgi-unsplash.jpeg");
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
}

.first-name,
.last-name,
.password1,
.password2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

input {
    line-height: 1.5rem;
}

/* Sign Up Container */
.sign-up-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 30%;

    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}


/* Sign-Up Text */
.sign-up-text {
    display: flex;
    padding: 10px 10px;

    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

/* First Name and Last Name Container */
.first-last-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 10px;
    gap: 20px;
}


/* Email Container */
.email-container {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    gap: 6px;
}

/* Password Container */
.password-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 10px;
    gap: 20px;
}

/* Checkbox Container */
.checkbox-container {
    display: flex;
    gap: 3px;
    padding: 5px 10px;
}

.checkbox-container label {
    position: relative;
    font-weight: 400;
    top: 3px;
}

/* Last Container */
.last-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px 10px;
}

/* Button container */
button {
    border: none;
    background-color: #FFD580;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 800;
    padding: 5px 40px;

    box-shadow: 0 2px 3px rgb(0 0 0 / 0.2);
    transition: 0.2s all;
}

button:active {
    transform: scale(0.98);
}

/* Login container  */
.login {
    padding-left: 10px;
}

a {
    text-decoration: none;
    font-weight: 600;
}